@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --first-color: #A7BAF2;
    --second-color: #778fd9b2;
    --third-color: #6273D9;
    --fourth-color: #3B42BF;
    --first-colorFonts: #303030;
    --second-colorFonts: #F2F2F2;
}   
/*
    font: Montserrat regular 400
*/
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

body {
    background-color: var(--first-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 50px;
    margin: 100px;
    background-color: var(--second-color);
    box-shadow: 10px 10px 45px var(--second-color);
}

table {
    width: 500px;
    height: auto;
    border: 1px solid var(--first-color);
    border-radius: 10px;
}

.linha {
    display: flex;
	justify-content: space-between;
}

.linha th{
    height: auto;
    width: 150px;
    color: var(--first-colorFonts);
    font-size: 16px;
}

.linha td{
    height: auto;
    width: 150px;
    text-align: center;
    color: var(--first-colorFonts);
    font-size: 14px;
}

.form {
    display: flex;
    justify-content: space-around;
    width: 500px;
    align-items: center;
}

.peso {
    width: 80px;
    margin: 25px;
    text-align: center;
    color: var(--first-colorFonts);
}

.altura {
    width: 80px;
    margin: 25px;
    text-align: center;
    color: var(--first-colorFonts);
}

.form button {
    width: 75px;
    height: 25px;
}
